build/*
# logs aren't in the build folder atm..
log.txt
.vscode/*
textures/*
x64/*
*.sln
*.vcxproj
*.vcxproj.*
.vs/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

